<input ng-model="search" placeholder="search">

<table class="ui celled table">
	<tr>
    	<th ng-click="order = 'name'">Team</th>
    	<th ng-click="order = '-cups'">Cups</th>
     	<th ng-click="order = '-leagues'">Leagues</th>
    	<th ng-click="order = '-champions'">Champions</th>
    	<th>Remove</th>
  	</tr>
	<tr ng-repeat="team in teams | orderBy: order | filter: search">
		<td><a ng-href="#!/teams/{{teams.indexOf(team)}}">{{team.name}}</a></td>
		<td>{{team.cups}}</td>
		<td>{{team.leagues}}</td>
		<td>{{team.champions}}</td> 
		<td ng-click="removeTeam(team)">x</td>
	</tr>
</table>

<form ng-submit="addTeam()">
	
	<div class="ui form">
	  <div class="fields">
	    <div class="field">
	      <label>Team name</label>
	      <input type="text" placeholder="team name" ng-model="newTeam.name">
	    </div>
	    <div class="field">
	      <label>Cups won</label>
	      <input type="number" placeholder="cups won" ng-model="newTeam.cups">
	    </div>
	    <div class="field">
	      <label>Leagues won</label>
	      <input type="number" placeholder="leagues won" ng-model="newTeam.leagues">
	    </div>
	    <div class="field">
	      <label>Leagues won</label>
	      <input type="number" placeholder="champions won" ng-model="newTeam.champions">
	    </div>
	    <button class="ui red button">Add a new team</button>
	  </div>
	</div>
	
</form>	

